.nail{
    background-color: #FFF2F2;
    &__container{
        padding-top: 5.05rem;
        padding-bottom: 4rem;
    }
    &__icon{
        margin-bottom: 2.4rem !important;
    }
    &__square{
        display: grid;
        grid-template-columns: 50px 131.5px 15px 131.5px;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.3rem;
    }
    &__des{
        text-align: right;
    }
    &__content{
        padding-top: 2.6rem;
    }
    &__text,
    &__heading,
    &__des{
        font-size: 16px;
        font-weight: 600;
        font-family: "SVN-Gilroy", sans-serif;
    }
    &__des{
        letter-spacing: 0.3px;
    }
    &__total{
        margin-top: 2.7rem;
        color: #9D4339;
        font-size: 16px !important;
        letter-spacing: 0.1px;
    }
    &__button-white{
        background-color: #fff;
        border: 3px solid #151515;
        border-radius: 60px;
        width: 96px;
        height: 34px;
        font-size: 14px;
        font-weight: 600;
        font-family: "SVN-Gilroy", sans-serif;
    }
    &__button-black{
        color: #EFEFEF;
        background-color: #151515;
        width: 190px;
        height: 34px;
        border-radius: 60px;
        font-size: 14px;
        font-weight: 600;
        font-family: "SVN-Gilroy", sans-serif;
    }
    &__buttons{
        margin-top: 2.75rem;
        text-align: right;
        display: flex;
        column-gap: 0.55rem;
        justify-content: right;
    }


    &-content{
        position: relative;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2.2rem;
    }
    &__arrow-left{
        height: 51px !important;
        width: 30px !important;
        background: #151515;
        border-radius: 0 8px 0 0;
        display: block;
        img{
            color: #fff;
        }
    }
    
    &-left{
        font-size: 14px;
        font-weight: 600;
        font-family: "SVN-Gilroy", sans-serif;
    }
    &__logo{
        margin-left: 9px;
    }
}