@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

li {
  text-decoration: none !important;
}

ul {
  padding-left: 0px !important;
  list-style: none !important;
  margin-bottom: 0px !important;
}

@font-face {
  font-family: "MyFont";
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Medium.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Semibold.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("../fonts/SVN-Gilroy/SVN-Gilroy Thin.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("../fonts/SVN-Gilroy/SVN-Gilroy Medium.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("../fonts/SVN-Gilroy/SVN-Gilroy Regular.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("../fonts/SVN-Gilroy/SVN-Gilroy Bold.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("../fonts/SVN-Gilroy/SVN-Gilroy SemiBold.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("../fonts/SVN-Gilroy/SVN-Gilroy Thin.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Sử dụng font trong phần khác của mã SCSS */
body {
  font-family: "MyFont", sans-serif;
}

.container {
  max-width: 358px;
  margin-inline: 1.5rem;
}

@media screen and (max-width: 400px) {
  .container {
    margin-inline: 1rem !important;
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  width: 36px;
  height: 36px;
  background-color: #151515;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--frist-color);
  transition: border 0.4s, background-color 0.4s;
  border-radius: 50%;
}

.nav__logo {
  color: #131313;
  font-weight: 590;
  font-size: 17px;
  text-decoration: none;
  margin-left: 1.6rem;
  font-family: "SF-Pro-Display", sans-serif;
}
.nav__action {
  display: flex;
  -moz-column-gap: 0.4rem;
       column-gap: 0.4rem;
  margin-right: 0.8rem;
}
.nav__link span {
  color: #454545;
  font-weight: 600;
  font-size: 12px;
  font-family: "SVN-Gilroy", sans-serif;
}
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 0rem;
    background-color: #fbfbfb;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.4s;
    padding: 14px 11px 0px 10px;
    box-shadow: 0 4px 25px hsl(0, 0%, 80%);
    border-radius: 10px 10px 0 0;
    z-index: 3 !important;
    height: 74px;
  }
  .nav__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .nav__link {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
    font-family: "SVN-Gilroy", sans-serif;
  }
  .nav__link img {
    margin: 0 auto;
    width: 24px;
    height: 24px;
  }
}
.nav__action-cellular {
  width: 19.2px;
  height: 12.23px;
}
.nav__action-Wifi {
  width: 17.14px;
  height: 12.33px;
}
.nav__action-Battery {
  width: 27.33px;
  height: 13px;
}
.nav__item {
  margin-bottom: 1px;
}
.nav__charts {
  transform: translateY(-6px);
}

.active-link {
  color: #038168;
}

.home {
  padding-top: 4.4rem;
  position: relative;
  height: 844px;
  z-index: -1;
  background-image: url(../img/Quét\ mã\ QR.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__container.container {
  margin-inline: 1rem !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.home__icon {
  display: flex;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
  margin-bottom: 1.6rem;
}
.home__icon img {
  width: 18px;
  height: 18px;
}
.home__icon span {
  color: #EFEFEF;
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.home__description {
  color: #EFEFEF;
  font-size: 20px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.home__Welcome {
  text-align: center;
}
.home__scan {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.4rem;
       column-gap: 0.4rem;
  margin-bottom: 22px !important;
}
.home__scan img {
  background-color: #e8a908;
  border-radius: 5px;
  width: 36px;
  height: 36px;
}
.home__scan span {
  color: #EFEFEF;
  font-size: 20px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.home__please {
  color: #B4B4B4;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.home__bg {
  position: absolute;
  left: 50.5%;
  top: 50%;
  transform: translate(-50.7%, -50%);
  width: 328px;
  height: 328px;
  -o-object-fit: cover;
     object-fit: cover;
}

.for-you {
  position: relative;
  overflow: hidden;
}
.for-you__container {
  position: relative;
}
.for-you__information {
  margin: 0 auto;
}
.for-you__content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto !important;
  padding-top: 4.4rem;
}
.for-you__text {
  margin-bottom: 6px !important;
  font-family: "SVN-Gilroy", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.for-you__avatar-link {
  display: flex;
  -moz-column-gap: 0.6rem;
       column-gap: 0.6rem;
}
.for-you__avatar {
  width: 32px;
  height: 32px;
}
.for-you__scan-link, .for-you__notification-content {
  margin-right: 0px !important;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  width: 36px !important;
}
.for-you__scan-link span, .for-you__notification-content span {
  color: #151515 !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  text-align: center !important;
  font-family: "SVN-Gilroy", sans-serif;
}
.for-you__notification {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  width: 36px !important;
}
.for-you__img-1 {
  width: 36px;
  height: 36px;
  background-color: #151515;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.for-you__img-1 img {
  width: 28px;
  height: 28px;
}
.for-you__login {
  display: flex;
  -moz-column-gap: 0.6rem;
       column-gap: 0.6rem;
}
.for-you__search {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.for-you__search img {
  position: absolute;
  top: 0.5rem;
  left: 0.6rem;
}
.for-you__input {
  padding: 0.3rem 0.35rem 0.35rem 2.2rem;
  border: none !important;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
}
.for-you__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  color: #B4B4B4;
}
.for-you__input::placeholder {
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  color: #B4B4B4;
}
.for-you__bg {
  background-color: #EFEFEF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.for-you__images {
  margin: initial;
}
.for-you__article {
  width: 220px;
}
.for-you-image-1, .for-you-image-2, .for-you-image-3 {
  position: absolute;
}
.for-you-image-1 {
  top: 10.3rem;
  left: 1.4rem;
}
.for-you-image-2 {
  right: 0.1rem;
  top: 17rem;
}
.for-you-image-3 {
  left: 1.7rem;
  top: 21.6rem;
}
.for-you-image {
  margin: 1.55rem 0 2rem;
}
.for-you__cart {
  width: 81px;
  height: 88px;
}
.for-you__cart img {
  width: 81px;
  height: 62px;
}
.for-you__link {
  color: #fff;
  background-color: #989898;
  border-radius: 0px 0px 15px 15px;
  font-family: "SVN-Gilroy", sans-serif;
  padding: 0.3rem 0.5rem;
  font-size: 14px;
}
.for-you__fullscreen {
  margin-top: 1.1rem;
  text-align: center;
  color: #038168;
  font-size: 20px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  transform: translateX(18px);
  letter-spacing: -0.5px;
}
.for-you__welcome {
  font-size: 14px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.for-you-main {
  margin-top: 2.5rem;
}
.for-you-title {
  font-weight: 600;
  font-size: 20px;
  font-family: "SVN-Gilroy", sans-serif;
  color: #151515;
}
.for-you-advertisement {
  font-weight: 600;
  font-size: 20px;
  font-family: "SVN-Gilroy", sans-serif;
  color: #151515;
  margin-bottom: 1.5rem;
}
.for-you__main {
  padding-bottom: 5rem;
}
.for-you__add {
  background-color: #151515;
  width: 81px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
}
.for-you-full {
  height: 100px !important;
}
.for-you__add img {
  width: 24px;
  height: 24px;
}
.for-you-list {
  position: absolute;
  width: 135px;
  height: 148px;
  background-color: #151515;
  top: 3.5rem;
  right: -100%;
  border-radius: 20px;
  z-index: 2;
  transition: right 0.4s;
  padding: 10px 0px;
}
.for-you-link {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.for-you-link span {
  font-size: 14px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  color: #EFEFEF;
}
.for-you-img-10 {
  border-radius: 10px 10px 0px 0px;
}
.for-you .swiper-button-next.for-you__right-1 {
  top: 32rem;
  right: 0rem;
  background-color: #151515;
  opacity: 60%;
  z-index: 1;
}
.for-you .swiper-button-next.for-you__right {
  top: 42.5rem;
  background-color: #151515;
  opacity: 60%;
  z-index: 1;
}
.for-you__close {
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
}
.for-you .swiper-button-next {
  top: 19.3rem;
  right: 0rem;
  z-index: 1;
}
.for-you .swiper-button-next img {
  width: 16px;
  height: 16px;
}
.for-you .swiper-button-prev {
  top: 19.3rem;
  left: 0rem;
  z-index: 1;
}
.for-you .swiper-button-prev img {
  width: 16px;
  height: 16px;
}
.for-you .swiper-button-next.for-you__right-1 {
  top: 33rem;
  right: 1rem;
}

.show-menu {
  right: 0;
}

.login__for-you {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 3;
  height: 476px;
  border-radius: 18px 21px 0 0;
}
.login__for-you img {
  width: 300px;
  height: 300px;
  margin: 10px auto 12px;
}
.login__desc {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: "SVN-Gilroy", sans-serif;
  margin-bottom: 1.5rem;
  letter-spacing: 0.15px;
}
.login__button {
  width: 90%;
  border-radius: 30px;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  font-family: "SVN-Gilroy", sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.login__button-1 {
  background-color: #121212;
  color: #fff;
  margin-bottom: 1.2rem;
}
.login__button-2 {
  background-color: #fff;
  color: #121212;
  border: 1px solid #000;
  margin-bottom: 1rem;
}

.notification__container {
  padding-top: 4.5rem;
}
.notification__icons {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  margin-bottom: 1.2rem;
}
.notification__heading {
  font-size: 20px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  margin-bottom: 0px !important;
}
.notification__today {
  font-size: 12px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  color: #1257DB;
}
.notification__content {
  margin-top: 1.2rem;
  padding: 0 0 1.2rem 1.3rem;
  border-bottom: 1px solid #B4B4B4;
}
.notification__login-notification {
  border-left: 2px solid #000;
  padding: 0 0 0 0.6rem;
}
.notification__login-notification, .notification__main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
}
.notification-login-notification {
  margin-bottom: 1.1rem;
  letter-spacing: 1.2px;
}
.notification__device, .notification__time, .notification__location, .notification__button {
  font-size: 12px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  color: #000;
}
.notification-login-notification {
  font-size: 14px;
  color: #454545;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  letter-spacing: -0.08px;
}
.notification__device, .notification__time {
  margin-bottom: 0.3rem;
}
.notification__device, .notification__time {
  letter-spacing: -0.2px;
}
.notification__location {
  letter-spacing: -0.5px;
}
.notification__button-white {
  color: #CFCFCF;
  padding: 8px 10px;
  border-radius: 30px;
  background: #121212;
  margin-right: 6px;
}
.notification__button-black {
  color: #151515;
  padding: 8px 10px;
  border-radius: 30px;
  background: #fff;
  border: 1px solid #121212;
}
.notification-confirm-login {
  color: #038168;
}
.notification__subtitle {
  padding: 1rem 0 0.7rem 0;
  position: relative;
  border-bottom: 1px solid #B4B4B4;
}
.notification__day-ago {
  color: #B4B4B4;
  letter-spacing: -0.4px;
}
.notification-content {
  padding: 0.8rem 0 1.2rem 0.6rem;
  margin-top: 0.4rem !important;
  background: linear-gradient(to right, #EFEFEF 0%, #3DC6AB 100%);
  border-radius: 10px;
  border-bottom: none;
}
.notification__green {
  border-left: 2px solid #04A786;
  padding: 0 0 0 1.2rem;
}
.notification-login {
  margin-bottom: 1rem;
}
.notification__login-history {
  font-size: 12px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  color: #1257db;
  display: flex;
  justify-content: right;
  transform: translate(-20px, 1px);
  letter-spacing: -0.1px;
}
.notification__check {
  position: absolute;
  top: 4.5rem;
  right: 0.7rem;
  width: 34px;
  height: 34px;
  background: #3FC644;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification__check img {
  width: 14px;
  height: 14px;
}
.notification-time {
  margin-bottom: 7px;
}
.notification__close {
  background: #c63f3f;
}
.notification__danger {
  color: #810303;
  letter-spacing: -0.4px;
}
.notification-content__danger {
  border-left: 2px solid #A70E04;
}
.notification__main-danger {
  background: linear-gradient(to right, #EFEFEF 0%, #F19C89 100%);
}
.notification-subtitle {
  border-bottom: none;
}

.registers {
  background-color: #eff8f6;
}
.registers__data {
  padding-top: 4.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
}
.registers__logo, .registers__image {
  margin: 0 auto;
}
.registers__heading {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  font-family: "SVN-Gilroy", sans-serif;
  margin-bottom: 37px;
}
.registers__form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.registers__form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.1rem;
}
.registers__form-control input {
  border-radius: 8px;
  border: none;
  background-color: #fff;
  padding: 4px 10.6px 7.2px;
}
.registers__form-control input::-moz-placeholder {
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.registers__form-control input::placeholder {
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.registers-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1.97rem;
}
.registers-form input {
  border-radius: 8px;
  border: none;
  background-color: #fff;
  padding: 4px 10.6px 7.2px;
}
.registers-form input::-moz-placeholder {
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.registers-form input::placeholder {
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.registers__password {
  position: absolute;
  top: 2.7rem;
  right: 0.6rem;
}
.registers__desc {
  font-size: 20px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  margin-bottom: 1rem;
  letter-spacing: -0.1px;
}
.registers__button {
  font-weight: 600;
  font-size: 16px;
  font-family: "SVN-Gilroy", sans-serif;
  color: #CFCFCF !important;
  background-color: #121212 !important;
  width: 100%;
  padding: 7px 15px;
  height: 36px !important;
}
.registers-form__passwork {
  margin-bottom: 2.1rem;
}
.registers__descs {
  margin-top: 4px;
  letter-spacing: 0.5px;
}
.registers__forgot {
  font-size: 14px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  color: #038168;
  text-align: right;
  margin-bottom: 2.05rem;
}
.registers-passwords {
  margin-bottom: 1.2rem;
}
.registers-white {
  background-color: #fff !important;
  color: #151515 !important;
  border: 2px solid #151515;
  margin-top: 2.6rem;
}
.registers__wrong-login {
  color: #E01600;
  font-size: 14px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  margin-bottom: 1.2rem;
}
.registers__form-phone {
  margin-bottom: 2.17rem !important;
}
.registers__forgot-password {
  letter-spacing: 0.75px !important;
}
@media screen and (min-width: 420px) {
  .registers__container {
    margin: 0 auto;
  }
}

.field {
  padding-top: 4.35rem;
  background-color: #EFEFEF;
}
.field__heading {
  font-size: 24px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  text-align: center;
  color: #038168;
  margin-bottom: 14px;
  letter-spacing: -0.3px;
}
.field__text {
  font-size: 20px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  text-align: center;
  letter-spacing: -0.4px;
  margin-bottom: 2.75rem;
}
.field__main {
  display: flex;
  flex-direction: column;
  row-gap: 2.44rem;
}
.field__cart {
  position: relative;
  margin: 0 auto;
}
.field__cart img {
  width: 253px;
  height: 140px;
}
.field__text {
  margin-bottom: 2.8rem;
}
.field__hotel {
  font-size: 12.52px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  color: #151515;
  padding: 3.58px 7.15px;
  background: #EFEFEF;
  border-radius: 17.89px;
  position: absolute;
  bottom: 0.73rem;
  left: 0.6rem;
  height: 25.15px;
  width: 46.31px;
}
.field__continue {
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  color: #CFCFCF;
  font-size: 12.52px;
  background: #121212;
  border-radius: 26.83px;
  width: 71.55px;
  height: 35.9px;
  position: absolute;
  right: 0rem;
  bottom: 0.1rem;
  padding: 8.94px 8.89px;
}
.field__nail {
  width: 42px !important;
  bottom: 0.65rem;
}
.field__salon {
  width: 54px !important;
  bottom: 0.65rem;
  padding: 3.58px 8.15px;
  letter-spacing: 1.5px;
}
.field-nail {
  letter-spacing: 0.8px;
}
.field__button {
  bottom: 0px;
  letter-spacing: 0.6px;
}
.field__continue-nailing {
  letter-spacing: 0.5px;
}

.personal__information {
  background-color: #eff8f6;
}
.personal__information-subtitle {
  display: flex;
  align-items: center;
  -moz-column-gap: 4.5rem;
       column-gap: 4.5rem;
  margin-bottom: 40px;
}
.personal__information-container {
  padding-top: 4.4rem;
  transform: translateX(1.5px);
}
.personal__information-description {
  color: #038168;
  font-weight: 600;
  font-size: 24px;
  font-family: "SVN-Gilroy", sans-serif;
  letter-spacing: -0.3px;
  margin-bottom: 0px !important;
}
.personal__information-avatar {
  position: relative;
  margin-bottom: 3.1rem;
}
.personal__information-img {
  margin: 0 auto;
}
.personal__information-camera {
  position: absolute;
  bottom: -0.7rem;
  right: 7.6rem;
}
.personal__information-fullname {
  color: #000;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  font-size: 20px;
  margin-bottom: 0.8rem;
}
.personal__information-input {
  padding: 0 0px 4.6px 0px;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  display: block;
  width: 100%;
  transform: translateY(2px);
}
.personal__information-input::-moz-placeholder {
  color: #454545;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  transform: translateX(-2px);
  letter-spacing: -0.4px;
  font-size: 16px;
}
.personal__information-input::placeholder {
  color: #454545;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  transform: translateX(-2px);
  letter-spacing: -0.4px;
  font-size: 16px;
}
.personal__information-control {
  display: flex;
  flex-direction: column;
  row-gap: 2.8rem;
}
.personal__information-momo {
  margin-bottom: 0.6rem;
}
.personal__information-address {
  margin-bottom: 0.6rem;
}
.personal__information--phone {
  padding: 0 0px 4.6px 2px !important;
}
.personal__information--phone::-moz-placeholder {
  letter-spacing: 1px;
}
.personal__information--phone::placeholder {
  letter-spacing: 1px;
}
.personal__information--fullname::-moz-placeholder {
  letter-spacing: 0.2px !important;
}
.personal__information--fullname::placeholder {
  letter-spacing: 0.2px !important;
}
.personal__information h6.personal__information-fullname.personal__information--fullname {
  letter-spacing: -0.2px;
}
.personal__information-Phone {
  transform: translateY(0px) !important;
}
.personal__information-Phone::-moz-placeholder {
  letter-spacing: 0.8px;
}
.personal__information-Phone::placeholder {
  letter-spacing: 0.8px;
}
.personal__information-main {
  margin-top: 2.9rem;
}
.personal__information-desc {
  color: #000;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  font-size: 20px;
  margin-bottom: 13px;
}
.personal__information-skincare {
  height: 22px;
  padding: 0px 4px 0px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.personal__information-button {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(82px, 1fr));
  gap: 0.55rem;
}
.personal__information-succes {
  border: 1px solid #35AA4F;
  color: #35aa4f;
}
.personal__information-primary {
  border: 1px solid #2966D1;
  color: #2966D1;
}
.personal__information-danger {
  color: #d6232c;
  border: 1px solid #d6232c;
}
.personal__information-waning {
  color: #ddb508;
  border: 1px solid #ddb508;
}

.screen__advertising {
  background-color: #EFEFEF;
}
.screen__advertising__container {
  padding-bottom: 3rem;
  padding-top: 4.6rem;
}
.screen__advertising-icon {
  margin-bottom: 2.1rem;
}
.screen__advertising-images {
  position: relative;
  margin-bottom: 1.9rem;
}
.screen__advertising-article {
  scale: 0.9;
  transition: scale 0.3s;
}
.screen__advertising .swiper-slide-active, .screen__advertising .swiper-slide-duplicate-active {
  scale: 1;
}
.screen__advertising .swiper-button-next,
.screen__advertising .swiper-button-prev {
  top: 4.3rem;
  right: 0rem;
  z-index: 1;
}
.screen__advertising-desc, .screen__advertising-description {
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.screen__advertising-desc {
  color: #151515;
  margin-bottom: 0.8rem;
}
.screen__advertising-description {
  color: #454545;
  line-height: 1.35;
  letter-spacing: -0.1px;
  margin-bottom: 3rem;
}
.screen__advertising-describe {
  font-size: 16px !important;
  transform: translateY(2px);
}
.screen__advertising-button {
  color: #cfcfcf;
  background-color: #121212;
  border-radius: 30px;
  width: 95%;
  padding: 0.4rem 0 0.7rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.screen__advertising-link {
  position: relative;
  display: flex;
  align-items: center;
}
.screen__advertising-link img {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 16px;
  height: 16px;
}
.screen__advertising-link input {
  padding: 0.3rem 0 0.4rem 2.2rem;
  border: none;
  width: 100%;
  margin-bottom: 1.9rem;
  background-color: #fff;
  border-radius: 8px;
}
.screen__advertising-link input::-moz-placeholder {
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.screen__advertising-link input::placeholder {
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.screen__advertising-des {
  margin-bottom: 2.2rem;
}
.screen__advertising-icons {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(44px, 1fr));
  gap: 2rem;
  -moz-column-gap: 2.15rem;
       column-gap: 2.15rem;
  margin-bottom: 2.55em;
  justify-content: center;
}
.screen__advertising-select {
  margin-bottom: 0.9rem;
}
.screen__advertising-bank {
  border-radius: 8px;
  border: 1px solid #151515;
  padding: 0.5rem;
  width: 44px;
  height: 44px;
}
.screen__advertising-bank img {
  width: 24px;
  height: 24px;
}
.screen__advertising-checkbox {
  margin-bottom: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen__advertising-main {
  margin-bottom: 7rem !important;
}
.screen__advertising-comment {
  margin-bottom: 8rem;
}

.screen__setting-advertisement {
  font-size: 20px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  margin-bottom: 0.9rem;
  color: #038168;
}
.screen__setting-green {
  text-align: center;
  transform: translateX(16px);
  letter-spacing: -0.5px;
  margin-bottom: 0.8rem;
}
.screen__setting-icon {
  -moz-column-gap: 0.6rem !important;
       column-gap: 0.6rem !important;
  margin-bottom: 2.6rem;
}
.screen__setting-images {
  margin-bottom: 1.2rem !important;
}
.screen__setting-entertainment {
  color: #151515;
}
.screen__setting__main {
  margin-top: 0px;
}
.screen__setting-cart {
  height: 130px !important;
}
.screen__setting-button {
  background-color: #151515;
  width: 80px;
  color: #CFCFCF;
  border-radius: 30px;
  height: 32px;
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0 5px;
}
.screen__setting-data {
  margin-top: 1px !important;
}
.screen__setting-image {
  margin: 1.55rem 0 2.2rem;
}
.screen__setting-games {
  margin-bottom: 0.9rem !important;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #454545;
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 20px;
  left: 3.2px;
  bottom: 3.2px;
  background-color: white;
  transition: 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.switch input:checked + .slider {
  background-color: #4cc9f0;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #4cc9f0;
}

.switch input:checked + .slider:before {
  transform: translateX(2em);
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Add some cool effects */
.slider:after {
  content: "Off";
  color: white;
  position: absolute;
  right: 0.6em;
  top: 44%;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  transition: opacity 0.4s;
  opacity: 1;
}

.switch input:checked + .slider:after {
  content: "ON";
  left: 0.5em;
  opacity: 1;
  right: auto;
}

.finance__container {
  padding-top: 4.65rem;
}
.finance__heading {
  letter-spacing: -0.4px;
}
.finance__button {
  background: #151515;
  border-radius: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  height: 32px;
  padding: 0.5rem 1rem;
  margin-bottom: 1.9rem;
}
.finance__text {
  color: #B4B4B4;
  font-size: 12px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.finance-icon {
  margin-bottom: 2.2rem !important;
}
.finance__data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(71.6px, 1fr));
  align-items: center;
  margin-bottom: 1.75rem;
}
.finance__data span {
  font-size: 14px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  color: #151515;
  text-align: center;
  line-height: 1.5;
}
.finance__content {
  border-bottom: 2px solid rgba(180, 180, 180, 0.6);
  padding-bottom: 0.5rem;
  margin-bottom: 1.9rem;
}
.finance__skincare {
  color: #038168 !important;
}
.finance__description {
  color: #B4B4B4;
}
.finance__main {
  margin-bottom: 5px;
}
.finance__total {
  font-size: 20px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  color: #038168;
  text-align: right;
  letter-spacing: -0.5px;
  margin-top: 2.2rem;
}

.nail {
  background-color: #FFF2F2;
  overflow: hidden;
}
.nail__container {
  padding-top: 5.05rem;
  padding-bottom: 4rem;
}
.nail__icon {
  margin-bottom: 2.4rem !important;
}
.nail__square {
  display: grid;
  grid-template-columns: 50px 131.5px 15px 131.5px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.3rem;
}
.nail__des {
  text-align: right;
}
.nail__content {
  padding-top: 2.6rem;
}
.nail__text, .nail__heading, .nail__des {
  font-size: 16px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.nail__des {
  letter-spacing: 0.3px;
}
.nail__total {
  margin-top: 2.7rem;
  color: #9D4339;
  font-size: 16px !important;
  letter-spacing: 0.1px;
}
.nail__button-white {
  background-color: #fff;
  border: 3px solid #151515;
  border-radius: 60px;
  width: 96px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.nail__button-black {
  color: #EFEFEF;
  background-color: #151515;
  width: 190px;
  height: 34px;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.nail__buttons {
  margin-top: 2.75rem;
  text-align: right;
  display: flex;
  -moz-column-gap: 0.55rem;
       column-gap: 0.55rem;
  justify-content: right;
}
.nail-container {
  margin-top: -1rem;
  padding-bottom: 7.2rem;
}
.nail-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.3rem;
}
.nail__arrow-left {
  height: 51px !important;
  width: 30px !important;
  background: #151515;
  border-radius: 0 8px 0 0;
  display: block;
}
.nail__arrow-left img {
  color: #fff;
  position: absolute;
  top: 3rem;
  padding: 0 0 0 0.5rem;
}
.nail__arrow-right {
  height: 51px !important;
  width: 30px !important;
  background: #B4B4B4;
  border-radius: 8px 0 0 0;
  display: block;
}
.nail__arrow-right img {
  color: #fff;
  position: absolute;
  top: 3rem;
  padding: 0 0 0 0.5rem;
}
.nail-left, .nail-right {
  font-size: 14px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
}
.nail__logo img {
  margin-left: -1px;
}
.nail-left {
  width: 57px;
  height: 29px;
  background: #151515;
  color: #EFEFEF;
  display: block;
  border-radius: 0 8px 0 0;
  position: absolute;
  top: 4rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
}
.nail-right {
  width: 57px;
  height: 29px;
  background: #B4B4B4;
  color: #EFEFEF;
  display: block;
  border-radius: 8px 0 0 0;
  position: absolute;
  top: 4rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  right: 0px;
}
.nail__article {
  width: 235.71px;
}
.nail-data {
  width: 245px !important;
  overflow: hidden;
  position: relative;
}
.nail .swiper-button-next {
  right: 42px;
  left: auto;
  top: 12.9rem;
  background-color: rgba(21, 21, 21, 0.6);
  width: 28.57px;
  height: 28.57px;
}
.nail .swiper-button-prev {
  left: 40px;
  right: auto;
  background-color: rgba(21, 21, 21, 0.4);
  right: auto;
  top: 12.9rem;
  width: 28.57px;
  height: 28.57px;
}
.nail-buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 1.03rem 0 1rem;
  transform: translateX(-11px);
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.nail-button {
  display: flex;
  align-items: center;
  width: 141px;
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  -moz-column-gap: 9px;
       column-gap: 9px;
  border: 1px solid #151515;
  border-radius: 20px;
  color: #151515;
  padding: 1px 3px 3px 7px;
  letter-spacing: 0.1px;
}
.nail__continue {
  width: 62px;
  height: 20px;
  background: #151515;
  color: #EFEFEF;
  font-size: 12px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  border-radius: 20px;
}
.nail__color-tone {
  color: #EFEFEF;
  font-size: 12px;
  font-weight: 600;
  font-family: "SVN-Gilroy", sans-serif;
  background: #151515;
  width: 121.68px;
  height: 23px;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transform: translateX(-3px);
  border: 2px solid #FFF2F2;
}
.nail__select-color {
  background: #EFEFEF;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #e5d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10.5px;
       column-gap: 10.5px;
  padding: 0.5rem 0 0.8rem;
  height: 55px;
  width: 338px;
  transform: translateX(10px);
}
.nail__danger, .nail__brick, .nail__yellow, .nail__green, .nail__primary, .nail__purple {
  width: 32px;
  height: 32px;
  border-radius: 360px;
}
.nail__danger {
  border: 1px solid #460E0E;
  background-color: #FF5F5F;
}
.nail__brick {
  background-color: #FF8933;
}
.nail__yellow {
  background-color: #F5D425;
}
.nail__green {
  background-color: #2ED549;
}
.nail__primary {
  background-color: #456EFF;
}
.nail__purple {
  background-color: #C23DF0;
}
.nail-main {
  padding-top: 3.3rem;
  position: relative;
}
.nail-main .swiper-button-next {
  right: -3px;
  left: auto;
  top: 11.1rem;
  background-color: rgba(21, 21, 21, 0.6);
  width: 28.57px;
  height: 28.57px;
}
.nail-article {
  width: 132px !important;
  height: 94px !important;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}
.nail-article img {
  height: 66px !important;
}
.nail-article span {
  font-family: "Volkhov", serif;
  font-size: 14px;
  font-weight: 700;
}
.nail__images {
  margin-top: 2.7rem;
}/*# sourceMappingURL=main.css.map */