$black13: #131313;
$black12: #121212;
$black15: #151515;
$black45: #454545;
$whitefb: #fbfbfb;
$whitef: #EFEFEF;
$grayb4: #b4b4b4;
$gray98: #989898;
$grayb4: #B4B4B4;
$graycf: #CFCFCF;
$grren03: #038168;
$grrenef: #eff8f6;